<div class="header">
    <div class="menuToggle">
        <div class="imgToggle_div">
            <img id="imgToggle" src="assets/ui_icons/menu.png" alt="">
        </div>
        <app-top-navigation></app-top-navigation>
    </div>
</div>
<div class="bodyDiv">
    <div class="left_navigation">
        <app-left-navigation></app-left-navigation>
    </div>
    <div class="content">
        <div class="content_div">
            <div>
                <app-top-data-card></app-top-data-card>
            </div>
            <div class="recent_orders">
                <div class="orders">
                    <app-recent-order></app-recent-order>
                </div>
                <div class="registrations">
                    <app-new-registrations></app-new-registrations>
                </div>
            </div>
            <div class="statistics_div">
                <app-statistics></app-statistics>
            </div>
        </div>

    </div>
</div>